body {
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Roboto', sans-serif;
}

/* We can delete this in future */
.no-margin-pad {
    margin: 0;
    padding: 0;
}

/*************************************************/
/* SECTION 1                                     */
/* TODO                                          */
/* #1.add links to the <a>.                      */
/* #2.Change image font color and bnackground    */
/* #3.Flex grow, shrink.                         */
/* #4.Change Button.                             */
/*************************************************/

.section1 {
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;

    display: flex;
    flex-direction: column;

    background-color: #1F2937;
}

.section1-header {
    display: flex;
    align-items: center;

    padding-bottom: 30px;
}

.section1-header-hlogo {
    margin: 0;
    padding: 0;
    margin-right: auto;

    font-size: 24px;
    color: #F9FAF8;
}

.section1-header-links {
    margin: 0;
    padding-left: 25px;

    font-size: 18px;
    color: #E5E7EB;
}

.section1-body {
    display: flex;

}

.section1-body-left{
    max-width: 700px
}

.section1-body-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.section1-body-secondtext {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.section1-body-right{
    margin-left: auto;
}

.section1-body-image {
    border: 1px solid black;
    margin-left: 20px;
    height: 200px;
    width: 400px;

    background-color: #E5E7EB;
    color: black;
}

/*************************************************/
/* SECTION 2                                     */
/* TODO                                          */
/* not done                                      */
/*************************************************/
.section2 {
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section2-imgtxt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section2-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.section2-imgtxt-indv {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 20px;
}

.section2-imgtxt-indv-box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

/*
.section2-imgtxt-indv-box-image {
}
*/
.section2-imgtxt-indv-boxtxt {
    height: 150px;
    width: 150px;
}
/*************************************************/
/* SECTION 3                                     */
/* TODO                                          */
/* not done                                      */
/*************************************************/
.section3 {
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
}

/*************************************************/
/* SECTION 4                                     */
/* TODO                                          */
/* not done                                      */
/*************************************************/
.section4 {
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
}

/*************************************************/
/* FOOTER                                        */
/* TODO                                          */
/* not done                                      */
/*************************************************/
.footer {
    padding-top: 15px;
    padding-left: 10%;
    padding-right: 10%;
}